<template>
    <div class="product-card">
        <el-image
            class="product-card__image"
            :src="data.RestaurantLogo"
        />
        <div class="product-card__info-block">
            <div class="product-card__info">
                <div class="product-card__info-row">
                    <div class="product-card__text product-card__title">{{ data.RestaurantName }}</div>
                </div>
                <div class="product-card__info-row">
                    <div class="product-card__text product-card__description">{{ data.ProductDescription }}</div>
                </div>
                <div class="product-card__info-row">
                    <div class="product-card__price">{{ data.ProductPrice }} &#8381;</div>
                </div>
            </div>
        </div>         
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 15px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px grey;
        margin-bottom: 50px;
        &__title {
            color: #606266;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 5px;
        }
        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 60px;
        }
        &__image {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
        &__info-block {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            font-size: 14px;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__info-row {
            display: flex;
            justify-content: space-between;
        }
        &__price {
            color: #606266;
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            text-align: right;
        }
    }
</style>