<template>
    <div class="product-card">
        <el-image
            class="product-card__image"
            :src="data.Logo"
        />
        <div class="product-card__info-block">
            <div class="product-card__info">
                <div class="product-card__info-row">
                <div class="product-card__text">{{ data.Name }}</div>
                <div class="product-card__review">
                    <img src="/like.svg" alt="" class="product-card__like">
                    <span>{{ data.PositiveReviews }}%</span>
                </div>
                </div>
                <div class="product-card__info-row">
                <div class="product-card__text">{{ specialization }}</div>
                </div>
                <div class="product-card__info-row">
                <div class="product-card__text">Меню</div>
                <div class="product-card__text">Инфо</div>
                <div class="product-card__text">Отзывы ({{ data.ReviewsCount }})</div>
                </div>
            </div>
            <div class="product-card__info">
                <div class="product-card__info-row">
                <div class="product-card__text">Мин сумма заказа: {{ data.MinCost }} &#8381;</div>
                </div>
                <div class="product-card__info-row">
                <div class="product-card__text">Стоимость доставки: {{ data.DeliveryCost }} &#8381;</div>
                </div>
                <div class="product-card__info-row">
                <div class="product-card__text">Время доставки: {{ data.DeliveryTime }} мин.</div>
                </div>
            </div> 
        </div>         
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            required: true
        }
    },
    computed: {
        specialization () {
            if (!this.data.Specializations) {
                return ''
            }
            const length = this.data.Specializations.length
            return this.data.Specializations.reduce((prev, curr, index) => {
                return index < length - 1 ? prev + `${curr.Name} \\ ` : prev + `${curr.Name}`
            }, '')
        }
    }
}
</script>

<style lang="scss" scoped>
    .product-card {
        display: flex;
        margin: 0 10px 15px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px grey;
        &__image {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
        &__info-block {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            color: #606266;
            font-weight: 500;
            font-size: 14px;
        }
        &__info{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__info-row {
            display: flex;
            justify-content: space-between;
            padding-right: 15%;
        }
        &__review {
            display: flex;
            align-items: center;
            color: green;
        }
        &__like {
            width: 15px;
            margin-right: 5px;
        }
    }
    @media screen and (max-width: 400px) {
        .product-card {
            flex-direction: column;
        }
        .product-card__info-block {
            flex-direction: column;
        }
        .product-card__info {
            width: 100%;
            margin: 10px 0;
        }
    }
</style>