<template>
    <div class="review-card">
            <div class="review-card__info">
                <div class="review-card__info-row">
                    <div class="review-card__text">
                        <img v-if="data.IsPositive" src="/like.svg" alt="" class="review-card__icon">
                        <img v-else src="/dislike.svg" alt="" class="review-card__icon">
                        {{ data.UserFIO }} о ресторане: {{ data.RestaurantName }}
                    </div>
                </div>
                <div class="review-card__info-row">
                    <div class="review-card__text">{{ data.Message }}</div>
                </div>
                <div class="review-card__info-row">
                    <div class="review-card__text">{{ data.DateAdded }}</div>
                </div>
            </div> 
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>
    .review-card {
        display: flex;
        margin: 0 10px 15px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px grey;
        &__image {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
        &__info-block {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            color: #606266;
            font-weight: 500;
            font-size: 14px;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__text {
            word-break: break-all;
        }
        &__info-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        &__icon {
            width: 15px;
            margin-right: 5px;
        }
    }
</style>