<template>
  <el-container class="page">
    <el-header class="header">
      <img class="logo" src="/logo.png" alt="Logo">
    </el-header>
    <el-container class="nav">
      <el-row>
        <el-col :span="24" class="search">
          <span class="search__text">Поиск заведения: </span>
          <el-input
            v-model="searchText"
            suffix-icon="el-icon-search"
          />
        </el-col>
      </el-row>
    </el-container>
    <el-container class="content">
      <el-aside width="400px">
        <el-card class="filter-box">
          <el-checkbox v-model="freeCost.checked">{{ freeCost.title }}</el-checkbox>
          <el-checkbox v-for="filter of filters" :key="filter.title" v-model="filter.checked">{{ filter.title }}</el-checkbox>
        </el-card>
      </el-aside>
      <el-main>

        <el-row type="flex" class="content-block" justify="center">
          <el-col :span="24">
            <span class="content-block__title">Рестораны</span>
            <product-card v-for="(restaurant, index) of paginatedRestaurants" :key="index" :data="restaurant" />
            <div v-if="filteredRestaurants.length === 0" class="no-result">Нет совпадений</div>
            <el-pagination
              @current-change="changeRestaurantsPageHandler"
              :current-page="currentResPage"
              :page-size="pageSize"
              layout="prev, pager, next"
              :pager-count="11"
              :total="filteredRestaurants.length"
              :key="filteredRestaurants.length"
              hide-on-single-page
              class="pagination">
            </el-pagination>
          </el-col>
        </el-row>
        
        <el-row type="flex" class="content-block" justify="center">
          <el-col :span="24">
            <span class="content-block__title">Хиты</span>
            <swiper class="swiper" :options="swiperOption">
              <swiper-slide v-for="(hit, index) of hits" :key="index" >
                <hit-card :data="hit"/>
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </el-col>
        </el-row>
        
        <el-row type="flex" class="content-block" justify="center">
          <el-col :span="24">
            <span class="content-block__title">Отзывы</span>
            <review-card v-for="(review, index) of paginatedReviews" :key="index" :data="review" />
            <el-pagination
              @current-change="changeReviewsPageHandler"
              :current-page="currentRewievPage"
              :page-size="pageSize"
              layout="prev, pager, next"
              :pager-count="11"
              :total="reviews.length"
              hide-on-single-page
              class="pagination">
            </el-pagination>
          </el-col>
        </el-row>

      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import ProductCard from '~/components/ProductCard.vue'
import HitCard from '~/components/HitCard.vue'
import ReviewCard from '~/components/ReviewCard.vue'
export default {
  components: {
    ProductCard,
    HitCard,
    ReviewCard
  },
  async asyncData({isDev, route, store, env, params, query, req, res, redirect, error, $axios }) {
    const restaurants = await $axios.$get('https://front-task.chibbistest.ru/api/v1/restaurants')
    const reviews = await $axios.$get('https://front-task.chibbistest.ru/api/v1/reviews')
    const hits = await $axios.$get('https://front-task.chibbistest.ru/api/v1/hits')

    return {
      restaurants,
      reviews,
      hits
    }
  },
  data () {
    return {
      searchText: '',
      currentResPage: 1,
      currentRewievPage: 1,
      pageSize: 5,
      freeCost: {
        title: 'Бесплатная доставка',
        checked: false
      },
      filters: [
        {
          title: 'Пицца',
          checked: false
        },
        {
          title: 'Суши',
          checked: false
        },
        {
          title: 'Бургеры',
          checked: false
        },
        {
          title: 'Пироги',
          checked: false
        },
      ],
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          1400: {
            slidesPerView: 4,
            spaceBetween: 30
          },
          1200: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          920: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      }
    }
  },
  computed: {
    paginatedReviews () {
      return this.reviews.slice((this.currentRewievPage - 1) * this.pageSize, (this.currentRewievPage - 1) * this.pageSize + this.pageSize)
    },
    paginatedRestaurants () {
      return this.filteredRestaurants.slice((this.currentResPage - 1) * this.pageSize, (this.currentResPage - 1)*this.pageSize + this.pageSize)
    },
    filteredRestaurants () {
      let restaurants = this.restaurants
      if (this.freeCost.checked) {
        restaurants = this.restaurants.filter(rest => rest.DeliveryCost === 0)
      }
      const types = this.filters.filter(el => el.checked ? true : false).map(el => el.title)
      if (types.length > 0) {
        restaurants = restaurants.filter(el => el.Specializations.some(el => types.indexOf(el.Name) !== -1))
      }
      if (this.searchText.length > 0) {
        restaurants = restaurants.filter(el => el.Name.toLowerCase().indexOf(this.searchText.trim().toLowerCase()) !== -1)
      }
      return restaurants
    },
  },
  methods: {
    changeRestaurantsPageHandler (val) {
      this.currentResPage = val
    },
    changeReviewsPageHandler (val) {
      this.currentRewievPage = val
    }
  }
}
</script>

<style lang="scss">

.el-checkbox {
  margin-bottom: 20px;
}

.el-aside {
  padding: 20px;
}

.header {
  padding: 30px;
  box-sizing: content-box;
}

.nav {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  margin: 0 25px;
  border-radius: 5px;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.content-block {
  margin-bottom: 50px;
  &__title{
    padding: 10px;
    display: block;
    color: #606266;
    font-weight: 500;
    font-size: 18px;
  }
}

.pagination {
  text-align: center;
}

.filter-box {
  & > div {
    display: flex;
    flex-direction: column;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 20px;
  &__text {
    min-width: 155px;
  }
}

.no-result {
  text-align: center;
  padding: 50px;
  font-size: 18px;
}

@media screen and (max-width: 1024px){
  .content {
    display: flex;
    flex-direction: column;
  }
}

</style>

